@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet');

/* Global */
:root {
    /* App Color */ 
    --color-primary: var(--color-brown);
    --color-primary-variant: var(--color-lignt-brown);
    --color-accent: var(--color-burgundy);
    --color-accent-variant: var(--color-brown);
    --color-text: var(--color-gray);

/* Colors */
/* Basic color set */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-Khaki: #A59A8C;
  --color-lignt-brown: #C1904E;
  --color-brown: #8C4416;
  --color-brown-hover: #6e3511;

  /* Variation */
  --color-gray: #1b1e26;
  --color-dark-brown: #281C1A;
  --color-burgundy: #800020;
  --color-olive-green: #808000;
  --color-green: #d5ff40;
  --color-blue: #03e8f9;
  --color-yellow: #ffc03c;
  --color-orange: #FFC03C;
  --color-pink: #fe6d79;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-primary-variant);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid transparent;
}

/* Common */
.logo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--color-lignt-brown);
}
.section {
    padding: 4rem;
    text-align: center;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}

/* Main page header */
.main-header-container {
    padding-top: 4rem;
}

.main-header-bg {
display: flex;
justify-content: space-between;
align-items: center;
}

.main-header-copybox {
flex: 1;
text-align: left;
}

.main-header-img {
    width: 500px;
}

.main-title {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-gray);
    margin-right: 10rem;
}

.main-sub-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-accent);
}

.main-discription {
    margin-top: 2rem;
    font-size: 1.2rem;
    letter-spacing: -0.5;
    line-height: 1.8rem;
    margin-right: 5rem;
}



/* Cafe list */
/* cafe list img size */ 
.carousel-inner {
    width: 100%;
}

.cafe-list img{
    height: 200px;
    object-fit: cover;
    width: 100%;
}

/* cafe list title */ 
.cafe-list-title a{
    color: var(--color-dark-brown);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.main-ico-review {
    width: 15px;
    margin-right: 2px;
}

.main-list-ico {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.main-list-ico-happyhour {
    width: 16px;
}

.cafe-list-txt {
    margin-bottom: 0.3rem;
}

.cafe-list-txt-accent {
    color: var(--color-accent);;
    font-weight: 700;
}

.cafe-list-txt-description {
    margin-bottom: 0.1rem;
}

.cafe-list-review-count {
    font-weight: 200;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.page-link {
    color: var(--color-brown);
    background-color: transparent;
    border-color: var(--color-Khaki);
    cursor: pointer;
}

.page-link:hover {
    color: var(--color-white);
    background-color: var(--color-lignt-brown);
    border-color: var(--color-lignt-brown);
}

.active > .page-link,
.page-link.active {
    z-index: 3;
    color: var(--color-white);
    background-color: var(--color-lignt-brown);
    border-color: var(--color-lignt-brown);
}