@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body {
    background-color: #F9F9F4;
    background-image: url(../images/backgroundimgcolor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

.membership-box {
    margin-top: 8px;
    background-image: url(../images/backgroundimgcolor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    /* background: rgba(39, 39, 39, 0.4); */
}

.membership-form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    z-index: 2;
    overflow: hidden;
}

.login-container {
    position: absolute;
    right: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.register-container {
    position: absolute;
    /* right: -520px; */
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.membership-top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.membership-top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}

.membership-top h1 {
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding: 10px 0 30px 0;
    letter-spacing: 1.5px;
}

.register-two-forms {
    display: flex;
    gap: 10px;
    flex-wrap: space-between;
    width: 100%;
}

.membership-input-box {
    width: 100%;
}

.membership-input-field {
    font-size: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.membership-input-field:hover, .membership-input-field:focus {
    background: rgba(255,255,255,0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.membership-input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.membership-submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    /* background: rgba(255,255,255,0.7); */
    background-color: #d7d1c6;
    opacity: 0.7;
    transition: .3s ease-in-out;
}

.membership-submit:hover {
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.2);background: rgba(255, 255, 255, 0,5);
    background-color: #fff7e7;
}

.membership-two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}

.membership-two-col .membership-one {
    display: flex;
    gap: 5px;
}

.membership-two label a {
    text-decoration: none;
    color: #fff;
}

.membership-two label a:hover {
    text-decoration: underline;
}

/* .logo {
    color: #fff;
    font-weight: 500;
    font-family: "Playwrite AU VIC", cursive;;
} */


@media only screen and (max-width: 540px) {
    .membership-form-box {
        width: 100%;
        height: 500px;
    }

    .register-container, .login-container {
        width: 100%;
        padding: 0 25px;
    }

    .register-container .register-two-forms {
        flex-direction: column;
        gap: 0;
    }

}